<form action="{{ path }}" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Adresse email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="{{ promesseDon.email }}" required>
    </div>

    <div class="mb-3">
        <label for="lastname" class="form-label">Nom</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Durand" value="{{ promesseDon.lastname }}" required>
    </div>

    <div class="mb-3">
        <label for="firstname" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Michel" value="{{ promesseDon.firstname }}" required>
    </div>

    <div class="mb-3">
        <label for="amount" class="form-label">Montant</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="300" value="{{ promesseDon.amount }}" required>
    </div>
    <button class="btn btn-success" type="submit">Valider</button>
</form>
